@import "~src/styles/colors";
@import "~src/styles/mixins";

:host {
  display: block;
  width: 31rem;
  padding: 2rem 2rem 1rem;

  @include media-breakpoint-down(sm) {
    width: min(31rem, 80vw);
  }
}

.image-container {
  text-align: center;

  img {
    @include dish(auto, 14rem);

    @include media-breakpoint-down(sm) {
      height: 11rem;
    }
  }
}

.msg {
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
  text-align: center;
}

.highlight {
  color: $color-primary;
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
