@import "~src/styles/colors";
@import "~src/styles/mixins";

:host {
  display: block;
  width: 35rem;
  padding: 1rem;

  @include media-breakpoint-down(md) {
    width: min(35rem, 80vw);
  }
}

.title {
  margin: 0;
  padding-bottom: 1.5rem;
}

.content {
  margin: 0;
  padding: 0;
}

.cart-empty {
  text-align: center;

  &__img {
    width: 9rem;
    height: auto;
  }

  &__msg {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }
}

.cart-table {
  width: 100%;

  &__row {
    border: 1px solid lightgrey;

    @include media-breakpoint-down(sm) {
      td {
        padding: 0;
      }
    }
  }

  &__img {
    height: 3rem;
    width: auto;

    @include media-breakpoint-down(sm) {
      height: 2.5rem;
      padding-right: 0.5rem;
    }
  }

  &__dish {
    font-weight: 500;
  }

  &__price {
    font-weight: 500;
    color: $color-primary;
  }

  &__btn {
    text-align: center;
  }

  &__footer td {
    font-size: 1.15rem;
    font-weight: 500;
  }
}

.highlight {
  font-size: 1rem;
  font-weight: 600;
  color: $color-primary;
}
