<ng-container *ngLet="cartItems$ | async as items">
  <h2 mat-dialog-title class="title" data-test="cart-dialog-title">Shopping Cart</h2>
  <mat-dialog-content class="content">
    <div *ngIf="isCartEmpty(items)" class="cart-empty" data-test="cart-dialog-empty">
      <img
        class="cart-empty__img"
        src="/assets/img/cart-empty.svg"
        alt="Empty shopping cart"
      />
      <p class="cart-empty__msg">The cart is empty</p>
    </div>

    <table
      *ngIf="!isCartEmpty(items)"
      mat-table
      [dataSource]="items"
      [trackBy]="trackBy"
      class="cart-table"
      data-test="cart-dialog-orders"
    >
      <ng-container matColumnDef="img">
        <td *matCellDef="let item" mat-cell>
          <img
            class="cart-table__img"
            [src]="item.dish.image"
            alt="Image of {{ item.dish.title }}"
          />
        </td>
        <td *matFooterCellDef mat-footer-cell colspan="3">Total</td>
      </ng-container>

      <ng-container matColumnDef="items">
        <td *matCellDef="let item" mat-cell>
          <span class="cart-table__dish">{{ item.quantity }}</span>
          <span class="highlight">&nbsp; x &nbsp;</span>
          <span class="cart-table__dish">{{ item.dish.title }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <td *matCellDef="let item" mat-cell>
          <button
            mat-icon-button
            color="warn"
            (click)="setDishQuantity(item, item.quantity - 1)"
            [attr.aria-label]="'Remove one ' + item.dish.title + ' from the cart'"
            data-test="subtract-quantity-btn"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <span
            class="cart-table__dish"
            [attr.aria-label]="'Amount of ' + item.dish.title + ' in the cart'"
          >
            {{ item.quantity }}
          </span>
          <button
            mat-icon-button
            color="primary"
            (click)="setDishQuantity(item, item.quantity + 1)"
            [attr.aria-label]="'Add one more ' + item.dish.title + ' to the cart'"
            data-test="increase-quantity-btn"
          >
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <td *matCellDef="let item" mat-cell class="cart-table__price">
          {{ item.quantity * item.dish.price | currency }}
        </td>
        <td *matFooterCellDef mat-footer-cell class="cart-table__price" colspan="2">
          {{ getTotal(items) | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="btn">
        <td *matCellDef="let item" mat-cell class="cart-table__btn">
          <button
            mat-icon-button
            color="warn"
            (click)="setDishQuantity(item, 0)"
            data-test="cart-dialog-remove-item-btn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        *matRowDef="let row; columns: columns"
        mat-row
        class="cart-table__row"
        data-test="cart-dialog-row"
      ></tr>
      <tr
        *matFooterRowDef="['img', 'price']"
        mat-footer-row
        class="cart-table__footer cart-table__row"
        data-test="cart-table-footer"
      ></tr>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions
    *ngIf="!isCartEmpty(items)"
    align="end"
    data-test="cart-dialog-actions"
  >
    <button
      mat-raised-button
      color="primary"
      (click)="checkout(items)"
      data-test="cart-dialog-checkout-btn"
    >
      Checkout
    </button>
  </mat-dialog-actions>
</ng-container>
