@import "~src/styles/colors";

:host {
  display: block;
  min-width: 35rem;
  padding: 1rem;
}

.title {
  margin: 0;
  padding-bottom: 1.5rem;
}

.content {
  margin: 0;
  padding: 0;
}

.cart-empty {
  text-align: center;

  &__img {
    width: 9rem;
    height: auto;
    padding-bottom: 2rem;
  }

  &__msg {
    font-size: 1.1rem;
  }
}

.cart-table {
  width: 100%;

  &__row {
    border: 1px solid lightgrey;
  }

  &__img {
    height: 3rem;
    width: auto;
  }

  &__dish {
    font-weight: 500;
  }

  &__price {
    font-weight: 500;
    color: $color-primary;
  }

  &__btn {
    text-align: center;
  }

  &__footer td {
    font-size: 1.15rem;
    font-weight: 500;
  }
}

.highlight {
  font-size: 1rem;
  font-weight: 600;
  color: $color-primary;
}
