<h2 *ngIf="data.title" mat-dialog-title data-test="confirm-dialog-title">
  {{ data.title }}
</h2>
<main
  *ngIf="data.content"
  class="content"
  mat-dialog-content
  data-test="confirm-dialog-content"
>
  <p>{{ data.content }}</p>
</main>
<footer class="actions" mat-dialog-actions>
  <button mat-stroked-button data-test="confirm-dialog-cancel" (click)="close(false)">
    {{ data.cancelBtnText }}
  </button>
  <button
    mat-flat-button
    [color]="data.type === 'warn' ? 'warn' : 'primary'"
    data-test="confirm-dialog-ok"
    (click)="close(true)"
  >
    {{ data.confirmBtnText }}
  </button>
</footer>
