:host {
  display: block;
  min-width: 30rem;
  padding: 1rem;
}

.title {
  margin: 0;
  padding-bottom: 1.5rem;
}

.content {
  margin: 0;
  padding: 0;
}

.table {
  width: 100%;

  &__img {
    height: 3rem;
    width: auto;
  }

  &__dish {
    font-weight: 500;
  }

  &__footer td {
    font-size: 1.15rem;
    font-weight: 500;
  }
}
