@import "~src/styles/mixins";

:host {
  display: block;
  min-width: 30rem;
  padding: 1rem;

  @include media-breakpoint-down(sm) {
    min-width: auto;
    width: 100%;
  }
}

.title {
  margin: 0;
  padding-bottom: 1.5rem;
}

.content {
  margin: 0;
  padding: 0;
}

.table {
  width: 100%;

  @include media-breakpoint-down(sm) {
    td {
      padding: 0;
    }
  }

  &__img {
    height: 3rem;
    width: auto;
  }

  &__price {
    font-weight: 500;
  }

  &__price {
    font-weight: 500;
  }

  &__footer td {
    font-size: 1.15rem;
    font-weight: 500;
  }
}
