@import "~src/styles/colors";

$status-colors: (
  created: $color-primary,
  in-progress: $color-accent,
  done: #3dc295,
  canceled: $color-warn,
);

:host {
  display: inline-block;
}

.order-status {
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;

  @each $status, $color in $status-colors {
    &.#{$status} {
      background-color: rgba($color, 35%);
      color: $color;
    }
  }
}
