@import "colors";
@import "variables";
@import "mixins";

@each $breakpoint, $value in $grid-breakpoints {
  .d-#{$breakpoint}-none {
    @include media-breakpoint-down($breakpoint) {
      display: none !important;
    }
  }
}

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}

@each $fw in (400, 500,600) {
  .fw-#{$fw} {
    font-weight: $fw;
  }
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
