<p *ngIf="title?.trim()" class="title">{{ title }}</p>
<div [class.has-image]="imageSrc" class="img-container">
  <mat-icon *ngIf="!imageSrc">image</mat-icon>
  <img *ngIf="imageSrc" [src]="imageSrc" />
</div>

<p *ngIf="error" [ngSwitch]="error" class="error" data-test="error-msg">
  <ng-container *ngSwitchCase="errorType.Size">
    Maximum filesize is {{ maxFileSize / 1024 }} KiB
  </ng-container>
  <ng-container *ngSwitchCase="errorType.Type">Unsupported filetype</ng-container>
  <ng-container *ngSwitchDefault>{{ error }}</ng-container>
</p>

<p *ngIf="!error" class="error error--placeholder" data-test="error-placeholder">a</p>

<button class="upload-btn" type="button" mat-stroked-button (click)="input.click()">
  Upload new picture
</button>

<input
  #input
  class="upload-input"
  type="file"
  [accept]="acceptedTypes ? acceptedTypes.join(', ') : null"
  (change)="handleUpload(input.files)"
/>
