$iconSize: 2.5rem;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.img-container {
  display: flex;
  height: 7rem;
  width: 7rem;
  background-color: lightgrey;
  border: 1px solid #555;
  border-radius: 50%;

  &.has-image {
    width: auto;
    background-color: transparent;
    border: 0;

    img {
      border-radius: 0;
    }
  }

  mat-icon {
    margin: auto;
    width: $iconSize;
    height: $iconSize;
    font-size: $iconSize;
  }

  img {
    height: 100%;
    width: auto;
    border-radius: 50%;
  }
}

.upload-input {
  display: none;
}

.error {
  margin-bottom: 0.5rem;

  &--placeholder {
    color: transparent;
  }
}

.sub-text {
  font-size: 0.75rem;
  font-style: italic;
  margin-bottom: 0.25rem;
}
