@import "~src/styles/mixins";

:host {
  display: block;
}

.form-container {
  margin: auto;
  width: 22rem;
  padding: 1rem;
  border-radius: 10px;

  @include media-breakpoint-down(sm) {
    width: min(22rem, 80vw);
  }
}

.form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    padding: 0.25rem 0;
  }

  &__suggest {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
}

.error {
  color: red;
}
