<main class="form-container">
  <mat-tab-group
    dynamicHeight
    animationDuration="400"
    [selectedIndex]="currentTabIndex"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="Sign In" [disabled]="isLoading">
      <form class="form" (submit)="$event.preventDefault(); signIn()">
        <ng-container *ngTemplateOutlet="formFields"></ng-container>

        <div class="form__suggest">
          <button
            type="button"
            mat-raised-button
            color="accent"
            data-test="sign-in-as-user-btn"
            [disabled]="isLoading"
            (click)="signInAs(user.email, user.password)"
          >
            Sign In as User
          </button>
          <button
            type="button"
            mat-raised-button
            color="warn"
            [disabled]="isLoading"
            (click)="signInAs(admin.email, admin.password)"
            data-test="sign-in-as-admin-btn"
          >
            Sign In as Admin
          </button>
        </div>
        <button
          mat-raised-button
          color="primary"
          data-test="sign-in-btn"
          [disabled]="formGroup.invalid || isLoading"
          (click)="signIn()"
        >
          Sign In
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Sign Up" [disabled]="isLoading">
      <form class="form" (submit)="$event.preventDefault(); signUp()">
        <ng-container *ngTemplateOutlet="formFields"></ng-container>

        <button
          mat-raised-button
          color="primary"
          data-test="sign-up-btn"
          [disabled]="formGroup.invalid || isLoading"
        >
          Sign Up
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</main>

<ng-template [formGroup]="formGroup" #formFields>
  <mat-form-field data-test="email-form-field">
    <mat-label>E-mail</mat-label>
    <input id="email" formControlName="email" type="text" autocomplete="email" matInput />
    <mat-hint><strong>Don't use your real e-mail.</strong></mat-hint>
    <mat-error *ngIf="formGroup.get('email')?.invalid">Invalid e-mail</mat-error>
  </mat-form-field>

  <mat-form-field data-test="password-form-field">
    <mat-label>Password</mat-label>
    <input
      id="password"
      formControlName="password"
      type="password"
      [autocomplete]="currentTabIndex === 0 ? 'current-password' : 'new-password'"
      matInput
    />
    <mat-error *ngIf="formGroup.get('password')?.invalid">
      Password should be at least 8 characters long
    </mat-error>
  </mat-form-field>
  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
</ng-template>
