<main class="form-container">
  <mat-tab-group
    dynamicHeight
    animationDuration="400"
    (selectedTabChange)="formGroup.reset()"
  >
    <mat-tab label="Sign In" [disabled]="isLoading">
      <form class="form" (submit)="$event.preventDefault(); signIn()">
        <ng-container *ngTemplateOutlet="formFields"></ng-container>

        <p *ngIf="signInError" class="error">
          {{ signInError }}
        </p>

        <div class="form__suggest">
          <button type="button" mat-flat-button color="accent" [disabled]="isLoading">
            Sign In as User
          </button>
          <button type="button" mat-flat-button color="warn" [disabled]="isLoading">
            Sign In as Admin
          </button>
        </div>
        <button
          class="sign-in-btn"
          mat-raised-button
          color="primary"
          [disabled]="formGroup.invalid || isLoading"
          (click)="signIn()"
        >
          Sign In
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Sign Up" [disabled]="isLoading">
      <form class="form" (submit)="$event.preventDefault()">
        <ng-container *ngTemplateOutlet="formFields"></ng-container>

        <button
          class="sign-up-btn"
          mat-raised-button
          color="primary"
          [disabled]="formGroup.invalid || isLoading"
        >
          Sign Up
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</main>

<ng-template [formGroup]="formGroup" #formFields>
  <mat-form-field data-test="email-form-field">
    <mat-label>E-mail</mat-label>
    <input id="email" formControlName="email" type="text" matInput />
    <mat-error *ngIf="formGroup.get('email')?.invalid">Invalid e-mail</mat-error>
  </mat-form-field>
  <mat-form-field data-test="password-form-field">
    <mat-label>Password</mat-label>
    <input id="password" formControlName="password" type="password" matInput />
    <mat-error *ngIf="formGroup.get('password')?.invalid">
      Password should be at least 8 characters long
    </mat-error>
  </mat-form-field>
</ng-template>
