<section class="about">
  <h2>About</h2>
  <p>
    This sample app features both sides of typical food ordering application: client's
    side and admins dashboard. Links to FrontEnd and BackEnd source codes can be found in
    the
    <a routerLink="/about" fragment="app-footer">footer.</a>
  </p>

  <p>
    From the client's side users can:
  </p>
  <ul>
    <li>Authorize.</li>
    <li>Add dishes to the shopping cart.</li>
    <li>Create orders for dishes in the cart.</li>
  </ul>

  <p>
    In the admins dashboard users have ability to:
  </p>
  <ul>
    <li>Create, edit or delete categories and dishes.</li>
    <li>See the list of users and their roles.</li>
    <li>See the list of orders and their contents. Change orders statuses.</li>
  </ul>
</section>

<section>
  <h2>Accessing Admins Dashboard</h2>
  <p>
    To access the dashboard, follow these simple steps:
  </p>
  <ul>
    <li>Click on <mat-icon>login</mat-icon> button in the top right corner.</li>
    <li>
      In the popped up dialog, click on
      <span class="color-warn">Sign in as Admin</span> button.
    </li>
    <li>Navigate to <span class="color-primary">'Dashboard'</span> from the top nav.</li>
  </ul>
</section>

<section>
  <h2>Features</h2>
  <ul class="list-with-stars">
    <li>Responsive design.</li>
    <li>Lazy-loaded modules.</li>
    <li>No hardcoded data. Everything comes through AJAX.</li>
    <li>Image upload with instant preview.</li>
    <li>Locally preserving shopping cart state.</li>
    <li>Guarded routes.</li>
  </ul>
</section>

<section>
  <h2>Technologies</h2>
  <div>
    <h3>Front-End</h3>
    <ul>
      <li>
        The app is built as a single-page application using
        <span class="color-warn">Angular 12 </span>and
        <span class="color-warn">Angular Material 12</span>.
      </li>
      <li>
        Global state of the app is managed by <span class="color-primary">NgRx 12</span>.
      </li>
      <li>
        Unit testing is done via
        <span class="color-karma">Karma</span> and
        <span class="color-jasmine">Jasmine</span>

        <a
          class="coverage-badge"
          href="https://codecov.io/gh/vladlent-portfolio/food-ordering-frontend"
        >
          <img
            src="https://codecov.io/gh/vladlent-portfolio/food-ordering-frontend/branch/main/graph/badge.svg?token=BICTXQ2K4M"
          />
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Back-End</h3>
    <ul>
      <li class="fw-500">Written in <span class="color-go">Go</span> 🔥🔥🔥.</li>
      <li class="fw-500">
        <span class="color-swagger">Swagger</span>
        schema and interaction is available
        <a href="https://api.food-ordering.app/swagger/index.html" target="_blank">
          here.
        </a>
        <p class="hint">
          Read the description to see how to access guarded routes.
        </p>
      </li>
      <li>Built on top of <span class="color-gin">Gin</span>.</li>
      <li>Data persistence with <span class="color-pg">PostgreSQL</span>.</li>
      <li>Object-relational mapping with <span class="color-gorm">GORM</span>.</li>
      <li>Dependency injection via <span class="color-go">Wire</span>.</li>
      <li>Testing is done via <span class="color-primary">Testify</span>.</li>
    </ul>
  </div>
</section>
