@use "sass:color";

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spinner-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color.scale(#000, $alpha: -85%);
  z-index: 100;

  mat-progress-spinner {
    margin: auto;
  }
}
