<mat-toolbar
  *ngLet="{
    isLoggedIn: isLoggedIn$ | async,
    isAdmin: isAdmin$ | async,
    isAdminRoute: isAdminRoute$ | async,
    cartQuantity: totalCartQuantity$ | async
  } as o"
  color="primary"
>
  <h1 data-test="title">{{ o.isAdminRoute ? adminTitle : title }}</h1>

  <nav class="nav">
    <button
      *ngIf="!o.isAdminRoute"
      class="cart"
      [matBadge]="o.cartQuantity"
      [matBadgeHidden]="o.cartQuantity <= 0"
      matBadgeColor="warn"
      (click)="openCartDialog()"
      data-test="cart"
    >
      <mat-icon>shopping_basket</mat-icon>
    </button>

    <a
      *ngIf="o.isLoggedIn && o.isAdmin && !o.isAdminRoute"
      class="admin-btn"
      routerLink="/admin"
      mat-raised-button
      data-test="admin-btn"
    >
      Go to dashboard
      <mat-icon>space_dashboard</mat-icon>
    </a>

    <a
      *ngIf="o.isLoggedIn && o.isAdmin && o.isAdminRoute"
      class="admin-btn"
      routerLink="/"
      mat-raised-button
      data-test="app-btn"
    >
      Back to App
      <mat-icon>store</mat-icon>
    </a>

    <button
      *ngIf="!o.isLoggedIn"
      mat-raised-button
      color="accent"
      data-test="login-btn"
      (click)="openLoginDialog()"
    >
      Sign In / Sign Up
    </button>
    <button
      *ngIf="o.isLoggedIn"
      mat-raised-button
      color="accent"
      data-test="logout-btn"
      (click)="signOut()"
    >
      Sign Out
      <mat-icon>logout</mat-icon>
    </button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

<div *ngIf="isLoading$ | async" class="spinner-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
