@use "sass:color";
@import "~src/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color.scale(#000, $alpha: -85%);
  z-index: 100;

  mat-progress-spinner {
    margin: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.home-link {
  color: #fff;
  text-decoration: none;
}

.cart {
  display: flex;
  padding: 0.3rem 0.8rem;
  margin-right: 0.5rem;
  color: $color-accent;
  background-color: rgba($color-accent, 0.1);
  border: 2px solid $color-accent;
  border-radius: 5px;
  transition: background-color ease-out 0.1s;
  cursor: pointer;

  mat-icon {
    margin: auto;
  }

  &:hover {
    background-color: rgba($color-accent, 0.25);
  }

  &:active {
    background-color: rgba($color-accent, 0.4);
  }
}

.admin-btn {
  margin: 0 0.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: $color-primary;
  color: #fff;

  &__text {
    margin: 0;
  }

  &__link {
    color: #fff;

    &--with-icon {
      display: flex;
      margin-top: 0.35rem;
    }
  }

  &__icon {
    height: 1.1rem;
    width: auto;
    margin-right: 0.25rem;
  }

  &__link-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__attribution {
    text-align: right;
    font-size: 0.75rem;
  }
}
