@import "~src/styles/mixins";

:host {
  --toolbar-height: 4.5rem;

  display: block;
}

mat-drawer-container {
  display: flex;
  min-height: calc(100vh - var(--toolbar-height));
  background-color: transparent;

  mat-drawer-content {
    width: 100%;
    padding: 1rem;
  }
}

app-admin-nav {
  width: 12rem;

  @include media-breakpoint-down(xl) {
    width: 8rem;
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
}
