:host {
  --toolbar-height: 4.5rem;

  display: block;
}

mat-drawer-container {
  display: flex;
  min-height: calc(100vh - var(--toolbar-height));
  background-color: transparent;
}

app-admin-nav {
  width: 12rem;
}
