@import "~src/styles/mixins";
@import "~src/styles/variables";

:host {
  display: block;
}

mat-drawer-container {
  display: flex;
  min-height: 75vh;
  background-color: transparent;

  @include media-breakpoint-down(sm) {
    min-height: auto;
  }

  mat-drawer-content {
    width: 100%;
    padding: 1rem;
  }
}

app-admin-nav {
  width: 12rem;

  @include media-breakpoint-down(xl) {
    width: 8rem;
  }

  @include media-breakpoint-down(sm) {
    height: $admin-mobile-nav-height;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
}
