<ng-container *ngLet="isSmallScreen$ | async as isSmallScreen">
  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="!isSmallScreen">
      <app-admin-nav data-test="desktop-admin-nav"></app-admin-nav>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

  <app-admin-nav
    class="mat-elevation-z3"
    *ngIf="isSmallScreen"
    [mobile]="isSmallScreen"
    data-test="mobile-admin-nav"
  ></app-admin-nav>
</ng-container>
