<header>
  <button
    class="add-btn"
    mat-raised-button
    color="primary"
    (click)="create()"
    [disabled]="!categories"
    data-test="add-dish-btn"
  >
    + New Dish
  </button>

  <mat-form-field>
    <mat-label>Filter by Category</mat-label>
    <mat-select [formControl]="categoriesFilter" data-test="category-select">
      <mat-option
        *ngFor="let c of [{ id: 0, title: 'All' }].concat($any(categories)) as cats"
        [value]="c.id"
      >
        {{ c.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</header>

<main *ngIf="filteredDishes$ | async as dishes" class="cards-container">
  <app-admin-card
    *ngFor="let d of dishes; trackBy: trackBy"
    [title]="d.title"
    [removable]="d.removable"
    [imageSrc]="d.image"
    [subtitleTemplate]="subtitle"
    (edit)="edit(d)"
    (remove)="remove(d)"
    (upload)="updateImage(d.id, $event)"
  >
    <ng-template #subtitle>
      <div class="subtitle" data-test="dish-subtitle">
        <span class="subtitle__category">{{ d.category.title }}</span>
        <span class="subtitle__price">{{ d.price | currency }}</span>
      </div>
    </ng-template>
  </app-admin-card>
</main>
