:host {
  display: block;
}

header {
  display: flex;
  align-items: flex-start;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.add-btn {
  margin-right: 2rem;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__category {
    font-style: italic;
    padding-bottom: 0.5rem;
  }

  &__price {
    font-weight: 500;
    font-size: 1rem;
  }
}
