@import "~src/styles/mixins";

:host {
  display: block;
}

header {
  display: flex;
  align-items: flex-start;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 1.5rem;

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}

app-admin-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.add-btn {
  margin-right: 2rem;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__category {
    font-style: italic;
    padding-bottom: 0.5rem;
  }

  &__price {
    font-weight: 500;
    font-size: 1rem;
  }
}
