@import "~src/styles/colors";

:host {
  display: block;
}

.orders-table {
  width: 100%;

  &__row:hover {
    background-color: rgba(lightgrey, 0.3);
    cursor: pointer;
  }
}

@each $status, $color in $status-colors {
  .#{$status} {
    color: $color;
  }
}
.center {
  text-align: center;
}
