@import "~src/styles/colors";

:host {
  display: block;
  padding: 1.5rem;
}

.categories {
  padding-bottom: 2rem;

  &__caption {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.5rem;
  height: 9.5rem;
  padding: 1rem;
  margin-right: 2rem;
  border: 2px solid $color-accent;
  border-radius: 20px;
  outline: none;
  background-color: rgba($color-accent, 0.1);
  transition: background-color ease-out 0.15s;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

  &__img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
  }

  &:focus {
    background-color: lighten($color-accent, 15%);
    border-color: darken($color-accent, 20%);
  }

  &[aria-pressed="true"],
  &:hover {
    background-color: $color-accent;
  }
}

.dishes {
  &__caption {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.dish {
  width: max(15%, 14rem);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 1.5rem 1.5rem 0;

  &__figure {
    margin: 0;
    text-align: center;
  }

  &__img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.75rem;
  }

  &__title {
    margin: 0;
    padding-bottom: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 0.75rem;
    border-top: 1px solid lightgrey;
  }

  &__price {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__add {
    padding: 0.05rem 0.4rem;
    background-color: $color-accent;
    color: white;
    font-size: 1.3rem;
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
    transition: background-color ease-out 0.1s;
    cursor: pointer;

    &:focus {
      background-color: lighten($color-accent, 15%);
      border-color: darken($color-accent, 20%);
    }

    &:hover {
      background-color: darken($color-accent, 10%);
    }
  }
}
