@import "~src/styles/colors";
@import "~src/styles/mixins";

:host {
  display: block;
  padding: 1.5rem;

  @include media-breakpoint-down(md) {
    padding: 1rem;
  }
}

.categories {
  &__caption {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8.5rem);
    grid-auto-rows: 9.5rem;
    grid-gap: 2rem 1.5rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 9rem;
      grid-gap: 1.5rem 1rem;
      padding-bottom: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 6.5rem;
      grid-gap: 1rem 0.75rem;
      padding-bottom: 1rem;
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid $color-accent;
  border-radius: 20px;
  outline: none;
  background-color: rgba($color-accent, 0.1);
  transition: background-color ease-out 0.15s;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    padding: 0.7rem;
    font-size: 0.8rem;
  }

  &__img {
    width: 4rem;
    height: auto;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(sm) {
      width: 3rem;
    }
  }

  &:focus {
    background-color: lighten($color-accent, 15%);
    border-color: darken($color-accent, 20%);
  }

  &[aria-pressed="true"],
  &:hover {
    background-color: $color-accent;
  }
}

.dishes {
  &__caption {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 0.25fr));
    grid-gap: 1.5rem 2rem;

    @include media-breakpoint-down(xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}

.dish {
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 5rem;

  &__figure {
    margin: 0;
    text-align: center;
  }

  &__img {
    @include dish(auto, 10rem);
    margin-bottom: 0.75rem;
    margin-top: -5rem;
  }

  &__title {
    margin: 0;
    padding-bottom: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }

  &__description {
    margin: 0;
    padding: 0.75rem 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.75rem;
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    background-color: $color-accent;
    color: white;
    font-size: 1.3rem;
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
    transition: background-color ease-out 0.1s;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      padding: 0.4rem;
    }

    &:focus {
      background-color: lighten($color-accent, 15%);
      border-color: darken($color-accent, 20%);
    }

    &:hover {
      background-color: darken($color-accent, 10%);
    }
  }
}
