<header>
  <h3 mat-dialog-title class="title">{{ title }}</h3>
</header>

<main>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Pizza" />
      <mat-error *ngIf="titleError" data-test="title-error">{{ titleError }}</mat-error>
    </mat-form-field>

    <div class="form__actions">
      <button
        class="close-btn"
        type="button"
        mat-raised-button
        mat-dialog-close
        data-test="cancel-btn"
      >
        Cancel
      </button>
      <button
        class="submit-btn"
        mat-raised-button
        color="primary"
        data-test="submit-btn"
        [disabled]="isLoading || formGroup.pristine"
      >
        Create
      </button>
    </div>
  </form>
</main>
