<header>
  <h3 mat-dialog-title class="title">{{ title }}</h3>
</header>

<main>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Pizza" />
    </mat-form-field>

    <app-image-upload
      [imageSrc]="data.category?.image"
      (upload)="newImage = $event"
    ></app-image-upload>

    <div class="form__actions">
      <button class="close-btn" type="button" mat-raised-button mat-dialog-close>
        Cancel
      </button>
      <button class="submit-btn" mat-raised-button color="primary">Create</button>
    </div>
  </form>
</main>
