<mat-card class="card">
  <app-image-upload
    class="card__upload"
    [imageSrc]="imageSrc"
    (upload)="upload.emit($event)"
  ></app-image-upload>

  <mat-card-content class="card__content">
    <p class="card__title" data-test="card-title">{{ title }}</p>
    <ng-container *ngTemplateOutlet="subtitleTemplate || defaultSubtitle"></ng-container>
  </mat-card-content>

  <mat-card-actions class="card__actions">
    <button
      class="card__edit"
      mat-flat-button
      color="accent"
      data-test="edit-btn"
      (click)="edit.emit()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      class="card__remove"
      mat-flat-button
      color="warn"
      [disabled]="!removable"
      data-test="remove-btn"
      (click)="remove.emit()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #defaultSubtitle>
  <p class="card__subtitle" data-test="card-subtitle">{{ subtitle }}</p>
</ng-template>
