:host {
  display: block;
}

.card {
  width: 100%;

  &__upload {
    padding-bottom: 1rem;
  }

  &__title {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
  }

  &__remove:disabled:hover {
    cursor: not-allowed;
  }
}
